<section id="support" class="scroll-mt-17">
  <div class="max-w-[1104px] mx-auto px-4 sm:px-8 xl:px-0">
    <div
      class="relative z-999 overflow-hidden rounded-[30px] bg-dark pt-25 px-4 sm:px-20 lg:px-27.5"
    >
      <div
        class="flex justify-center gap-7.5 absolute left-1/2 -translate-x-1/2 -top-[16%] max-w-[690px] w-full -z-1 opacity-40"
      >
        <div
          class="max-w-[50px] w-full h-[250px] relative pricing-grid pricing-grid-border bottom-12"
        ></div>
        <div
          class="max-w-[50px] w-full h-[250px] relative pricing-grid pricing-grid-border bottom-7"
        ></div>
        <div
          class="max-w-[50px] w-full h-[250px] relative pricing-grid pricing-grid-border bottom-3"
        ></div>
        <div
          class="max-w-[50px] w-full h-[250px] relative pricing-grid pricing-grid-border"
        ></div>
        <div
          class="max-w-[50px] w-full h-[250px] relative pricing-grid pricing-grid-border"
        ></div>
        <div
          class="max-w-[50px] w-full h-[250px] relative pricing-grid pricing-grid-border"
        ></div>
        <div
          class="max-w-[50px] w-full h-[250px] relative pricing-grid pricing-grid-border bottom-2"
        ></div>
        <div
          class="max-w-[50px] w-full h-[250px] relative pricing-grid pricing-grid-border bottom-5"
        ></div>
        <div
          class="max-w-[50px] w-full h-[250px] relative pricing-grid pricing-grid-border bottom-8"
        ></div>
      </div>

      <div
        class="max-w-[482px] w-full h-60 overflow-hidden absolute -z-1 -top-30 left-1/2 -translate-x-1/2"
      >
        <div class="stars"></div>
        <div class="stars2"></div>
      </div>

      <div class="absolute -z-10 pointer-events-none inset-0 overflow-hidden">
        <span class="absolute left-1/2 top-0 -translate-x-1/2 -z-1">
          <img src="images/blur-19.svg" alt="blur" class="max-w-none" />
        </span>
        <span class="absolute left-1/2 top-0 -translate-x-1/2 -z-1">
          <img src="images/blur-20.svg" alt="blur" class="max-w-none" />
        </span>
        <span class="absolute left-1/2 top-0 -translate-x-1/2 -z-1">
          <img src="images/blur-21.svg" alt="blur" class="max-w-none" />
        </span>
      </div>

      <div class="wow fadeInUp mb-16 text-center relative z-999">
        <span
          class="hero-subtitle-gradient relative mb-4 font-medium text-sm inline-flex items-center gap-2 py-2 px-4.5 rounded-full"
        >
          <img src="images/icon-title.svg" alt="icon" />
          <span class="hero-subtitle-text"> Need Any Help? </span>
        </span>
        <h2
          class="text-white mb-4.5 text-2xl font-extrabold sm:text-4xl xl:text-heading-2"
        >
          Contact With Us
        </h2>
        <p class="max-w-[714px] mx-auto font-medium">
          Our AI writing tool is designed to empower you with exceptional
          writing capabilities, making the writing process more efficient,
          accurate, and enjoyable.
        </p>
      </div>

      <div
        class="form-box-gradient relative overflow-hidden rounded-[25px] bg-dark p-6 sm:p-8 xl:p-15"
      >
        <form class="relative z-10">
          <div class="-mx-4 xl:-mx-10 flex flex-wrap">
            <div class="w-full px-4 xl:px-5 md:w-1/2">
              <div class="mb-9.5">
                <label for="name" class="text-white mb-2.5 block font-medium">
                  Name
                </label>
                <input
                  id="name"
                  type="text"
                  name="name"
                  placeholder="Enter your Name"
                  class="rounded-lg border border-white/[0.12] bg-white/[0.05] focus:border-purple w-full py-3 px-6 outline-none"
                />
              </div>
            </div>
            <div class="w-full px-4 xl:px-5 md:w-1/2">
              <div class="mb-9.5">
                <label for="email" class="text-white mb-2.5 block font-medium">
                  Email
                </label>
                <input
                  id="email"
                  type="email"
                  name="email"
                  placeholder="Enter your Email"
                  class="rounded-lg border border-white/[0.12] bg-white/[0.05] focus:border-purple w-full py-3 px-6 outline-none"
                />
              </div>
            </div>
            <div class="w-full px-4 xl:px-5">
              <div class="mb-10">
                <label
                  for="message"
                  class="text-white mb-2.5 block font-medium"
                >
                  Message
                </label>
                <textarea
                  id="message"
                  name="message"
                  placeholder="Type your message"
                  rows="6"
                  class="rounded-lg border border-white/[0.12] bg-white/[0.05] focus:border-purple w-full py-5 px-6 outline-none"
                ></textarea>
              </div>
            </div>
            <div class="w-full px-4 xl:px-5">
              <div class="text-center">
                <a
                  href="index.html#"
                  class="hero-button-gradient inline-flex rounded-lg py-3 px-7 text-white font-medium ease-in duration-300 hover:opacity-80"
                >
                  Send Message
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
