<main>
  <section class="relative overflow-hidden z-10" style="height: 30px">
    <div class="mx-auto max-w-[900px] px-4 sm:px-8 xl:px-0 relative z-1">
      <div class="text-center">
        <div class="relative">
          <div class="fixed top-0 right-0 p-4 floar-right">
            <button (click)="switchLanguage('en')">English</button>-
            <button (click)="switchLanguage('es')">Spanish</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<router-outlet></router-outlet>
